.input{
    display: flex;
    width: 20%;
    position: relative;
    padding: 30px;
    align-items: center;
    margin-left: 40%;
   }

.inputBox{
    width: 100%;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 2px black;
}

.inputBox:focus{
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
    outline: none;
}

.inputSubmit{
    position: absolute;
    width: 45px;
    height: 25px;
    margin-left:  70%;
    border-radius: 20px;
    border: none;
    font-size: 10px;
    background-color: red;
    color: white;
    transition: 0.2s all;
    box-shadow: 0 0 10px black;
}

.inputSubmit:hover{
    background-color: rgb(255, 175, 175);
}

.inputSubmit:active{
    transform: scale(0.8);
    box-shadow: 0 0 5px black;
}

.inputField{
    background-color: whitesmoke;
}

.sideItem1{
    font-size: 20px;
    margin-left: 40%;
    margin-right: 5%;
}

.sideItem2{
    font-size: 20px;
}

